/node_modules
.env
*.pem
/data
/logs
*.log
*.csv
*.xlsx
*.http
*.sql
!database/gestion_financiera_auth.sql
*.patch
/.tmp-gestion-xlsx
/secrets
/test
/storage
.prettierignore
.prettierrc
setting.json
/database
/scripts